---
import { sanityClient } from "sanity:client";
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Home/Showcase.astro';
import VerticalImageDetail from "../components/Home/VerticalImageDetail.astro";
import ImageDetailListCell from "../components/Home/ImageDetailListCell.astro";
import type { Tag } from "../utils/sanity";

const { prototypes = await sanityClient.fetch(
      `*[_type == "prototype"] {
        title,
        excerpt,
		heroImageAssets,
		publishedAt,
		tags[]->,
		slug,
        "shortVideo": shortVideo.asset->url,
      }
      | order(publishedAt desc)`
) } = Astro.props;
---

<Layout 
	title="Loomery LAB" 
	imageSrc="/main.png" 
	description="Step insde the Lab and see what technologies we have been experimenting with.">

	<section>
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 md:mb-48">
			<h1 class="lg:col-span-2 text-3xl md:text-6xl leading-loose">
				Welcome to Loomery Lab, where ideas and experiments are made possible
			</h1>
		</div>
	</section>

	<section class="gap-8">
		<div>
			<Showcase tags={prototypes[0].tags.map((tag: Tag) => tag.title).join(", ")}
			videoSrc={prototypes[0].shortVideo}
			heroImage={prototypes[0].heroImageAssets[0]}
			excerpt={prototypes[0].excerpt}
			link={`/prototypes/${prototypes[0].slug.current}`} />
		</div>

		<div class="flex overflow-x-auto whitespace-nowrap lg:overflow-visible lg:whitespace-normal space-x-8 justify-between">
			{// @ts-ignore
			prototypes.slice(1, 4).map((prototype, idx) => (
				<div class="flex-shrink-0 justify-center text-center md:text-left md:w-72" data-aos="fade-in" data-aos-delay={idx % 3 * 200}>
					<VerticalImageDetail title={prototype.title} tags={prototype.tags.map((tag: Tag) => tag.title).join(" / ")}
					heroImage={prototype.heroImageAssets[0]} 
					link={`prototypes/${prototype.slug.current}`} />
				</div>
			))}
		</div>
	</section>

	{prototypes.length > 4 && (
		<section class="my-48 space-y-8">
		<div class="flex text-center justify-center">
			<h1 class="text-3xl text-gray-400" data-aos="zoom-in">More prototypes</h1>
		</div>
		<div class="space-y-8">
			{// @ts-ignore
			prototypes.slice(4).map((prototype) => (
				<ImageDetailListCell title={prototype.title} tags={prototype.tags.map((tag: Tag) => tag.title).join(" / ")}
				excerpt={prototype.excerpt}
				heroImage={prototype.heroImageAssets[0]}
				link={`prototypes/${prototype.slug.current}`} />
			))}
		</div>
		</section>
	)}
</Layout>
