---
import { sanityClient } from "sanity:client";
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Home/Showcase.astro';
import Break from "../components/Break.astro";

const { prototypes = await sanityClient.fetch(
      `*[_type == "prototype"] {
	  	prototypeName,		
        title,
		summary {
      		...,
		},
        excerpt,
		heroImageAssets,
		publishedAt,
		tags[]->,
		slug,
        "shortVideo": shortVideo.asset->url,
      }
      | order(publishedAt desc)`
) } = Astro.props;
---

<Layout 
	title="Loomery LAB" 
	imageSrc="/main.png" 
	description="Step insde the Lab and see what technologies we have been experimenting with.">

	<section class="space-y-12 mt-24">
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
			<div class="lg:col-span-2 space-y-4">
				<h1 class="text-5xl font-light">Loomery<span class="text-accent">Lab</span></h1>
				<h1 class="text-2xl font-thin">
					A space dedicated to exploring new technologies and creating innovative solutions.
				</h1>
			</div>
		</div>

		<div>
			<img src="" class="aspect-video bg-gray-800 w-full">
		</div>
	</section>

	<Break />

	<section class="flex flex-col gap-16">
		{// @ts-ignore
		prototypes.map((prototype, index) => (
		  <div>
			<Showcase 
			  title={prototype.prototypeName}
			  number={index + 1}
			  tags={prototype.tags}
			  tools={prototype.summary.tools}
			  videoSrc={prototype.shortVideo}
			  heroImage={prototype.heroImageAssets[0]}
			  excerpt={prototype.excerpt}
			  link={`/prototypes/${prototype.slug.current}`} />
		  </div>

		  <Break />
		))}
	  </section>
</Layout>
