---
import { sanityClient } from "sanity:client";
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Home/Showcase.astro';
import VerticalImageDetail from "../components/Home/VerticalImageDetail.astro";
import ImageDetailListCell from "../components/Home/ImageDetailListCell.astro";
import type { Tag } from "../utils/sanity";
import Break from "../components/Break.astro";

const { prototypes = await sanityClient.fetch(
      `*[_type == "prototype"] {
	  	prototypeName,		
        title,
        excerpt,
		heroImageAssets,
		publishedAt,
		tags[]->,
		slug,
        "shortVideo": shortVideo.asset->url,
      }
      | order(publishedAt desc)`
) } = Astro.props;
---

<Layout 
	title="Loomery LAB" 
	imageSrc="/main.png" 
	description="Step insde the Lab and see what technologies we have been experimenting with.">

	<section class="space-y-24">
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
			<h1 class="lg:col-span-2 text-3xl md:text-6xl leading-loose">
				Welcome to Loomery Lab, where ideas and experiments are made possible
			</h1>
		</div>

		<div>
			<img src="" class="aspect-video bg-gray-800 w-full">
		</div>
	</section>

	<Break />

	<section class="gap-8">
			<Showcase 
			title={prototypes[0].prototypeName}
			number={1}
			tags={prototypes[0].tags.map((tag: Tag) => tag.title).join(", ")}
			videoSrc={prototypes[0].shortVideo}
			heroImage={prototypes[0].heroImageAssets[0]}
			excerpt={prototypes[0].excerpt}
			link={`/prototypes/${prototypes[0].slug.current}`} />
	</section>

	<Break />

	{prototypes.length > 4 && (
		<section class="my-48 space-y-8">
		<div class="flex text-center justify-center">
			<h1 class="text-3xl text-gray-400" data-aos="zoom-in">More prototypes</h1>
		</div>
		<div class="space-y-8">
			{// @ts-ignore
			prototypes.slice(4).map((prototype) => (
				<ImageDetailListCell title={prototype.title} tags={prototype.tags.map((tag: Tag) => tag.title).join(" / ")}
				excerpt={prototype.excerpt}
				heroImage={prototype.heroImageAssets[0]}
				link={`prototypes/${prototype.slug.current}`} />
			))}
		</div>
		</section>
	)}
</Layout>
