---
import type { PortableTextBlock, Image } from 'sanity';
import PortableText from '../PortableText/PortableText.astro';
import { urlForImage } from '../../sanity/urlForImage';


interface Props {
  title: string;
  tags: string;
  heroImage: Image;
  excerpt: PortableTextBlock;
  link: string;
}

const {
title,
tags,
heroImage,
excerpt,
link
} = Astro.props;
---

<a href={link}>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8" data-aos="fade-in">
        <div class="flex justify-center bg-gray-800">
            <img src={urlForImage(heroImage).url()} class="aspect-video object-contain" />
        </div>
        <div class="col-span-2 space-y-4">
            <h2 class="text-2xl">{title}</h2>
            <PortableText portableText={excerpt} />
            <h4 class="text-accent text-sm">{tags}</h4>
        </div>
    </div>
</a>
