---
import { urlForImage } from "../../sanity/urlForImage";
import type { Image, PortableTextBlock, Slug } from "sanity";
import PortableText from "../PortableText/PortableText.astro";

interface Props {
  title: string;
  videoSrc: URL;
  heroImage: Image;
  excerpt: PortableTextBlock;
  link: string;
}

const {
title,
videoSrc,
heroImage,
excerpt,
link
} = Astro.props;
---

<a href={link}>
    <div class="flex flex-col items-center space-y-8 md:space-y-16 pb-24 md:pb-12">
        <div class="space-y-28">
                <div class="space-y-8">
                    {videoSrc ? 
                    <video src={videoSrc.toString()} class="aspect-video" autoplay loop data-aos="fade-in" />
                    :
                    <img src={urlForImage(heroImage).url()} data-aos="fade-in">}
        
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-16">
                        <div class="col-span-1 space-y-4" data-aos="fade-in" data-aos-delay="0">
                            <h1 class="text-2xl text-gray-400">{title}</h1>
                        </div>
                        <div class="col-span-2 space-y-4 text-xl" data-aos="fade-in" data-aos-delay="200">
                            <PortableText portableText={excerpt} />
                        </div>
                    </div>
                </div>
            </div>
    </div>
</a>
