---
import { urlForImage } from "../../sanity/urlForImage";
import type { Image, PortableTextBlock } from "sanity";
import PortableText from "../PortableText/PortableText.astro";

interface Props {
    number: number;
    title: string;
    tags: string;
    videoSrc: URL;
    heroImage: Image;
    excerpt: PortableTextBlock;
    link: string;
}

const {
    number,
    title,
tags,
videoSrc,
heroImage,
excerpt,
link
} = Astro.props;
---

<a href={link}>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 lg:gap-20">
        {/* Video/Image Block */}
        <div class="col-span-3 lg:order-last">
            {videoSrc ?
            <video src={videoSrc.toString()} class="aspect-video rounded-lg bg-gray-800 w-full" autoplay muted loop
                data-aos="fade-in" />
            :
            <img src={urlForImage(heroImage).url()} class="aspect-video rounded-lg bg-gray-800 w-full" data-aos="fade-in">}
        </div>

        {/* Text Block */}
        <div class="col-span-1 space-y-4 lg:order-first">
            <div class="col-span-1 space-y-1" data-aos="fade-in" data-aos-delay="0">
                <h1 class="text-md text-gray-400">Experiment {number}</h1>
                <h1 class="text-xl">{title}</h1>
            </div>
            <div class="col-span-2 space-y-4" data-aos="fade-in" data-aos-delay="200">
                <PortableText portableText={excerpt} />
            </div>
        </div>
    </div>
</a>
