---
interface ImageAndDetail {
    imageSrc: string,
    title: string,
    paragraphs: string[];
};

interface Props {
    title: string,
    prototypeName: string,
    details: ImageAndDetail[];
};

const {
    title,
    prototypeName,
    details
} = Astro.props;
---

<section class="space-y-16">
    <div class="flex flex-col items-center space-y-2">
        <h1 class="text-4xl" data-aos="fade-in">{title}</h1>
        <p class="text-xl" data-aos="fade-in">Could an app like {prototypeName} be useful for <a target="_blank" href="https://www.loomery.com/contact-us" class="text-accent">your business</a>?</p>
    </div>

    <div class="space-y-28">
    {details.map(detail => (
        <div class="space-y-8">
            <img src={detail.imageSrc} data-aos="fade-in">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-16">
                <div class="col-span-1 space-y-4" data-aos="fade-in" data-aos-delay="0">
                    <h1 class="text-2xl">{detail.title}</h1>
                </div>
                <div class="col-span-2 space-y-4" data-aos="fade-in" data-aos-delay="200">
                    {detail.paragraphs.map(paragraph => (
                        <p class="text-xl">{paragraph}</p>
                    ))}
                </div>
            </div>
        </div>
    ))}
    </div>
</section>
