---
import TitleDetail from '../layouts/TitleDetail.astro';
import { urlForImage } from '../sanity/urlForImage';
import type { TryItOutCTA } from '../utils/sanity';
import PortableText from './PortableText/PortableText.astro';

interface Props {
    tryItOutObject: TryItOutCTA,
}

const {
    tryItOutObject,
} = Astro.props;
---

<TitleDetail title={tryItOutObject.heading} sectionClass='col-span-3 mb-8'>
    <section class="grid space-y-12 md:space-y-0 justify-start md:grid-cols-3">
      <div class="space-y-4">
        <PortableText portableText={tryItOutObject.content} />

        <div class="flex items-start">
          <a target="_blank" href={tryItOutObject.link.toString()}>
          {tryItOutObject.includeAppStoreBadge ? <img src="/AppStoreBadge.svg" class="mx-auto w-40"> : null}
        </a>
        </div>
      </div>

      {tryItOutObject.icon ? <a href={tryItOutObject.link.toString()} class="col-span-2 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl">
      <img src={urlForImage(tryItOutObject.icon).url()}
          class="w-52 col-span-2 rounded-[2rem] mx-auto"></a> : null}
    </section>
</TitleDetail>
