---
import type { Contributor as Contributor } from '../utils/sanity';

interface Props {
icons: string[];
technologies: string[];
tools: string[];
features: string[];
contributors: Contributor[];
}

const {
icons,
technologies,
tools,
features,
contributors
} = Astro.props;
---

<section class="flex flex-col items-center">
    <div class="flex flex-row space-x-4 p-12" data-aos="zoom-in">
        {icons.map((icon: string) => (
        <img class="h-16" src={icon} />
        ))}
    </div>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16">
        <div data-aos="fade-up" data-aos-delay="0">
            <h1 class="text-3xl">Technologies</h1>
            <ul class="text-lg space-y-2 py-4">
                {technologies.map((technology: string) => (
                <li>{technology}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-3xl">Tools</h1>
            <ul class="text-lg space-y-2 py-4">
                {tools.map((tool: string) => (
                <li>{tool}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-up" data-aos-delay="400">
            <h1 class="text-3xl">Key features</h1>
            <ul class="text-lg space-y-2 py-4">
                {features.map((feature: string) => (
                <li>{feature}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-up" data-aos-delay="600">
            <h1 class="text-3xl">Contributors</h1>
            <ul class="text-lg space-y-2 py-4">
                {contributors.map((contributor: Contributor) => (
                <li><a href={contributor.url}
                        class="transition-colors duration-200 hover:text-accent"
                        target="_blank"
                    >{contributor.name}
                </a></li>
                ))}
            </ul>
        </div>
    </section>
</section>