---
import type { Contributor as Contributor } from '../../utils/sanity';
import TitleDetail from '../../layouts/TitleDetail.astro';

interface Props {
technologies: string[];
tools: string[];
features: string[];
contributors: Contributor[];
}

const {
technologies,
tools,
features,
contributors
} = Astro.props;
---

<TitleDetail title='Project overview' sectionClass='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 col-span-3'>
        <div data-aos="fade-in">
            <img src="/technologies.svg">
            <h1 class="text-xl">Technologies</h1>
            <ul class="space-y-1 py-4 font-thin">
                {technologies.map((technology: string) => (
                <li>{technology}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-in">
            <img src="/tools.svg">
            <h1 class="text-xl">Tools</h1>
            <ul class="space-y-1 py-4 font-thin">
                {tools.map((tool: string) => (
                <li>{tool}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-in">
            <img src="/key-features.svg">
            <h1 class="text-xl">Key features</h1>
            <ul class="space-y-1 py-4 font-thin">
                {features.map((feature: string) => (
                <li>{feature}</li>
                ))}
            </ul>
        </div>

        <div data-aos="fade-in">
            <img src="/contributors.svg">
            <h1 class="text-xl">Contributors</h1>
            <ul class="space-y-1 py-4 font-thin">
                {contributors.map((contributor: Contributor) => (
                <li><a href={contributor.url}
                        class="transition-colors duration-200 hover:text-accent font-sans"
                        target="_blank"
                    >{contributor.name}
                </a></li>
                ))}
            </ul>
        </div>
</TitleDetail>