---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
	imageSrc: string;
	description: string;
}

const { title, imageSrc, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`https://lab.loomery.com`} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imageSrc} />
	
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={`https://lab.loomery.com`} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={imageSrc} />

		<!-- Google Tag Manager -->
		<script>
			// @ts-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				// @ts-ignore
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				// @ts-ignore
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N2FSBCL');
		</script>
		<!-- End Google Tag Manager -->
	</head>

	<body>
		<NavBar />

		<main class="m-12 md:m-32 max-w-6xl xl:mx-auto">
			<slot />
		  </main>

		<Footer />

		<script src="../js/main" />
	</body>
</html>

<style is:global>
	:root {
		--accent: #52A894;
	}
	html {
		background: #141414;
		color: #FFFFFF;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
