---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';

interface Props {
slug: string;
name: string;
excerpt: string;
keywords: string;
heroSrcArray: string[];
}

const {
slug,
name,
excerpt,
keywords,
heroSrcArray,
} = Astro.props;
---

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content={excerpt} />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" href="/global.css" />
	<meta name="generator" content={Astro.generator} />
	<title>{name} | Loomery Lab</title>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={`https://lab.loomery.com/prototypes/${slug}`} />
	<meta property="og:title" content={name + " | Loomery Lab"} />
	<meta
      name="keywords"
	content={keywords + ", Loomery, Loomery Lab, Loomery Prototypes, Loomery Technologies, Loomery Experimentation, Emerging Technologies, Loomery Innovation"}
    />
	<meta property="og:description" content={excerpt} />
	<meta property="og:image" content={heroSrcArray[0]} />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={`https://lab.loomery.com/prototypes/${slug}`} />
	<meta property="twitter:title" content={name + " | Loomery Lab"} />
	<meta property="twitter:description" content={excerpt} />
	<meta property="twitter:image" content={heroSrcArray[0]} />

	<!-- Google Tag Manager -->
	<script>
		// @ts-ignore
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			// @ts-ignore
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			// @ts-ignore
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N2FSBCL');
	</script>
	<!-- End Google Tag Manager -->

	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25152056.js"></script>
	<!-- End of HubSpot Embed Code -->
</head>

<body>
	<NavBar includeLogo={true} />


	<main class="mx-4 md:mx-8 lg:mx-10 max-w-7xl space-y-12 xl:mx-auto">
		<slot />
	</main>

	<Footer />

	<script src="../js/main"></script>
</body>

</html>
